<h3>Submit a new mountain</h3>

<form action="/mountains" method="POST">
  <p><label for="">Name</label>
    <input type="text" name="name" placeholder="Name">
  </p>
  <p><label for="">Country</label>
    <input type="text" name="country" placeholder="Country">
  </p>
  <p><label for="">Image</label>
    <input type="text" name="image" placeholder="Image">
  </p>
  <input type="submit" value="Submit Mountain">
</form>
