<h3> This my form </h3>

<form action="/results" method="GET">
  <p>
    <label>Your first number pls</label>
    <input type="number" name="first_num" placeholder="First number?">
  </p>

  <p>
    <label>Your second number pls</label>
    <input type="number" name="second_num" placeholder="Second number">
  </p>

  <input type="submit" value="divide these numbers">

</form>
