<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homework</title>
</head>
<body>

  <nav>
    <a href="/subtract"> Subtracting numbers </a>
    <a href="/divide"> Dividing numbers </a>
  </nav>

  <hr>
  <%=yield%>
  <hr>


</body>
</html>
