body {
  font-family: fantasy;
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 50px;
}

p {
  color: black;
}

span {
  font-size: 30px;
  color: limegreen;
}

img {
  border: 10px solid black;
  border-radius: 90px;
}
